<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test on Chrome">
   <parameter name="browser" value="chrome" />
  
    <classes>
           <class name="MylesBooking.MylesBooking_Scripts"/>
<!--       <class name="Insta.InstaScripts"/>  -->
<!--       <class name="Explore.ExploreScripts"/> -->

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
